<body class="about text-center" >

      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <div class="about-main">
        <h1 class="cover-heading text-danger">About</h1>
      </div>

        <div class="about-sub ">
            <p class="lead font-weight-bold text-white">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。</p>
        </div>
    </div>
</body>