<body class="top">
  <%= render "public/homes/header"%>
  <div class="top">
    <div class="main text-light text-monospace">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">ようこそ！！ながのcakeへ!!</h1>
          <p class="lead">このサイトは、ケーキ販売のECサイトになります。会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</p>
        </div>
        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal"></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="container text-dark">
      <div class="row">  
        <div class="">
          <%= link_to "すべての商品を見る", products_path %>
        </div>
      </div>
    </div>
    
</div>
</body>