/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 header {
  background-color: #ffc973;
  padding: 0 10px;
 }
 .headline {
  width: 100%;
  height: 100px;
  position: relative;
 }

 .logo-image {
  background: url("logo.png") no-repeat;
  background-size: contain;
  height: 100px;
  width: 200px;
  display: inline-block;
 }

 .welcome {
   // border: 1px solid black;
   margin-left: 50px;
   padding: 2px;
   display: inline-block;
   position: absolute;
   top: 35px;
 }

 .nav-list {
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0;
 }

 .nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 2px;
 }

 // main
 main {
  padding-bottom: 50px;
 }

 // footer

 footer {
   width: 100%;
   height: 50px;
   background-color: #ffc973;
 }

.show{
    display:flex;
}

.comment{
    margin-left:30px;
}

.pagination {
  justify-content: center;
}