// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
  background-image: url(cake.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.text-center h1{
    font-family: ヒラギノ丸ゴ Pro W4;
}

.about-main{
  margin-top: 200px;
  font-size: 200px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.9);
  letter-spacing: 10px;
}

.about_sub{
}

.about{
  background-image: url(cake2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

img{
    margin-left:100px;
    width:250px;
}